## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os
from pathlib import Path
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
path = "/Repositories/World_Weather_Analysis"

# Check current working directory.
retval = os.getcwd()
retval
os.chdir("..")
retval = os.getcwd()

In [3]:
# Get file to open from user
file_to_open = str(input("What file do you want to open:"))

# Use function call to find the data file and path
def findfile(name, path):
    for dirpath, dirname, filename in os.walk(path):
        if name in filename:
            return os.path.join(dirpath, name)

      
filepath = findfile(file_to_open, "/")

What file do you want to open:WeatherPy.csv

In [4]:
# 1. Import the WeatherPy_database.csv file.

city_data_df = pd.read_csv(filepath)
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Conditions,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ushuaia,AR,2022-04-26 22:33:37,-54.8000,-68.3000,broken clouds,38.86,87,75,12.66
1,1,Tasiilaq,GL,2022-04-26 22:35:52,65.6145,-37.6368,overcast clouds,32.16,95,91,4.03
2,2,Qaanaaq,GL,2022-04-26 22:35:53,77.4840,-69.3632,broken clouds,13.21,75,67,5.88
3,3,Bluff,NZ,2022-04-26 22:35:54,-46.6000,168.3333,broken clouds,52.81,78,83,8.93
4,4,Pacific Grove,US,2022-04-26 22:35:54,36.6177,-121.9166,clear sky,72.01,70,0,17.00

In [25]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 40
What is the maximum temperature you would like for your trip? 80

In [26]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Conditions,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Bluff,NZ,2022-04-26 22:35:54,-46.6000,168.3333,broken clouds,52.81,78,83,8.93
4,4,Pacific Grove,US,2022-04-26 22:35:54,36.6177,-121.9166,clear sky,72.01,70,0,17.00
5,5,Bethel,US,2022-04-26 22:35:54,41.3712,-73.4140,overcast clouds,57.07,91,100,4.61
6,6,Hobart,AU,2022-04-26 22:31:48,-42.8794,147.3294,broken clouds,50.27,94,75,6.91
7,7,Castro,BR,2022-04-26 22:35:55,-24.7911,-50.0119,scattered clouds,64.18,92,30,4.92
8,8,Albany,US,2022-04-26 22:33:33,42.6001,-73.9662,overcast clouds,53.38,90,100,4.56
10,10,Johnstown,US,2022-04-26 22:31:00,40.3267,-78.9220,broken clouds,55.38,79,75,9.22
11,11,Sangin,AF,2022-04-26 22:35:56,32.0728,64.8359,few clouds,77.02,14,15,2.10
12,12,Sao Miguel Do Araguaia,BR,2022-04-26 22:35:56,-13.2750,-50.1628,clear sky,75.63,59,0,4.38
13,13,Rikitea,PF,2022-04-26 22:33:57,-23.1203,-134.9692,overcast clouds,78.22,69,100,20.49

In [27]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID       459
City          459
Country       452
Date          459
Lat           459
Lng           459
Conditions    459
Max Temp      459
Humidity      459
Cloudiness    459
Wind Speed    459
dtype: int64

In [28]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Conditions,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Bluff,NZ,2022-04-26 22:35:54,-46.6000,168.3333,broken clouds,52.81,78,83,8.93
4,4,Pacific Grove,US,2022-04-26 22:35:54,36.6177,-121.9166,clear sky,72.01,70,0,17.00
5,5,Bethel,US,2022-04-26 22:35:54,41.3712,-73.4140,overcast clouds,57.07,91,100,4.61
6,6,Hobart,AU,2022-04-26 22:31:48,-42.8794,147.3294,broken clouds,50.27,94,75,6.91
7,7,Castro,BR,2022-04-26 22:35:55,-24.7911,-50.0119,scattered clouds,64.18,92,30,4.92
...,...,...,...,...,...,...,...,...,...,...,...
695,695,Ottawa,CA,2022-04-26 22:53:54,45.4112,-75.6981,broken clouds,52.99,65,75,11.50
696,696,Tawau,MY,2022-04-26 22:54:48,4.2498,117.8871,overcast clouds,75.33,100,100,1.01
698,698,Yablonovo,RU,2022-04-26 22:55:49,50.8523,37.3574,few clouds,50.56,91,18,7.09
699,699,Banda Aceh,ID,2022-04-26 22:55:49,5.5577,95.3222,overcast clouds,79.99,86,100,7.36
701,701,Kashi,CN,2022-04-26 22:55:50,39.4547,75.9797,broken clouds,67.21,18,75,6.71

In [29]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Conditions", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Conditions,Lat,Lng,Hotel Name
3,Bluff,NZ,52.81,broken clouds,-46.6000,168.3333,
4,Pacific Grove,US,72.01,clear sky,36.6177,-121.9166,
5,Bethel,US,57.07,overcast clouds,41.3712,-73.4140,
6,Hobart,AU,50.27,broken clouds,-42.8794,147.3294,
7,Castro,BR,64.18,scattered clouds,-24.7911,-50.0119,
8,Albany,US,53.38,overcast clouds,42.6001,-73.9662,
10,Johnstown,US,55.38,broken clouds,40.3267,-78.9220,
11,Sangin,AF,77.02,few clouds,32.0728,64.8359,
12,Sao Miguel Do Araguaia,BR,75.63,clear sky,-13.2750,-50.1628,
13,Rikitea,PF,78.22,overcast clouds,-23.1203,-134.9692,

In [30]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Set up counters & start search
print(".... Starting Hotel Search ...")
Hotel_count = 0
Skipped_count = 0


# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # 6d Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # 6f Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        Hotel_count +=1
    except(IndexError):
        Skipped_count +=1
        print("Hotel not found.....skipping.")
        
print("... Hotel Search Complete ...")
print("... Hotels found: ", Hotel_count)
print("... Hotels not found: ",Skipped_count)

.... Starting Hotel Search ...
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
Hotel not found.....skipping.
... Hotel Search Complete ...
... Hotels found:  429
... Hotels not found:  30

In [31]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df.loc[hotel_df["Hotel Name"] != ""]
clean_hotel_df

,City,Country,Max Temp,Conditions,Lat,Lng,Hotel Name
3,Bluff,NZ,52.81,broken clouds,-46.6000,168.3333,Bluff Homestead - Guesthouse & Campervan Park
4,Pacific Grove,US,72.01,clear sky,36.6177,-121.9166,Lovers Point Inn
5,Bethel,US,57.07,overcast clouds,41.3712,-73.4140,Courtyard by Marriott Danbury
6,Hobart,AU,50.27,broken clouds,-42.8794,147.3294,St Ives Hobart Accommodation Tasmania
7,Castro,BR,64.18,scattered clouds,-24.7911,-50.0119,CHACARA BAILLY
...,...,...,...,...,...,...,...
694,Nacala,MZ,73.20,light rain,-14.5428,40.6728,Nacala Plaza Business Design Hotel
695,Ottawa,CA,52.99,broken clouds,45.4112,-75.6981,Delta Hotels by Marriott Ottawa City Centre
696,Tawau,MY,75.33,overcast clouds,4.2498,117.8871,Shervinton Executive Boutique Hotel
699,Banda Aceh,ID,79.99,overcast clouds,5.5577,95.3222,OYO 884 Rumoh PMI Hotel
701,Kashi,CN,67.21,broken clouds,39.4547,75.9797,帕米尔青年旅舍

In [ ]:
# 8a. Create the output File (CSV)
output_data_file = "Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [33]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.

info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Conditions</dt><dd>{Conditions}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
#
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [34]:
# 11a. Add a marker layer for each city to the map. 

max_temp = clean_hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations,weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))